[gcode_macro CALIBRATE_ALL_Z_OFFSETS]
description: Measures a specified number of tool Z offsets continuously. (Usage: CALIBRATE_ALL_Z_OFFSETS TOOLS=5)
gcode:
  {% set tools_count = params.TOOLS|default(2)|int %}
  
  M118 Starting automatic Z offset calibration for {tools_count} tools...
  # M118 총 {tools_count}개의 툴 오프셋 자동 캘리브레이션을 시작합니다...

  {% if "xyz" not in printer.toolhead.homed_axes %}
    G28
  {% endif %}
  
  SET_GCODE_VARIABLE MACRO=_CARTOGRAPHER_Z_CALIB_STATE VARIABLE=results VALUE="''"
  SET_GCODE_OFFSET Z=0.0
  
  G0 Z5 F1200
  {% for tool_num in range(tools_count) %}
  
    T{tool_num}
    
    G90
    G0 X170 Y175 F17500
    
    CARTOGRAPHER_TOUCH_HOME
    M400

    {% if tool_num == 0 %}
      _RESET_TOOL_Z_ACCUMULATOR
    {% else %}
      _ACCUMULATE_TOOL_Z_OFFSET TOOL={tool_num}
    {% endif %}
    G0 Z5 F1200
    
  {% endfor %}
  G0 Z10 F1200

  _PRINT_CALIB_SUMMARY
  UNSELECT_TOOL

  SET_GCODE_OFFSET Z=0.0

[gcode_macro _CARTOGRAPHER_Z_CALIB_STATE]
# don't change anything, you don't need to change these values.
variable_cumulative_offset: 0.0
variable_results: ""
gcode:

[gcode_macro _ACCUMULATE_TOOL_Z_OFFSET]
gcode:
  {% set state = printer["gcode_macro _CARTOGRAPHER_Z_CALIB_STATE"] %}
  {% set carto = printer["cartographer"] | default(printer["scanner"]) %}
  {% set current_tool = params.TOOL|default(0)|int %}
  {% set cumulative_offset = state.cumulative_offset %}
  {% set results = state.results %}
  {% set last_z = carto.touch.last_z_result | float %}

  {% if current_tool > 0 %}
    {% set new_accum = cumulative_offset + last_z %}
    {% set new_results = state.results ~ "," ~ ("%.5f" | format(new_accum)) %}
  {% else %}
    {% set new_accum = 0.0 %}
    {% set new_results = "0.00000" %}
  {% endif %}
  
  SET_GCODE_VARIABLE MACRO=_CARTOGRAPHER_Z_CALIB_STATE VARIABLE=cumulative_offset VALUE={new_accum}
  SET_GCODE_VARIABLE MACRO=_CARTOGRAPHER_Z_CALIB_STATE VARIABLE=results VALUE="'{new_results}'"

[gcode_macro _PRINT_CALIB_SUMMARY]
gcode:
  {% set state = printer["gcode_macro _CARTOGRAPHER_Z_CALIB_STATE"] %}
  
  {% set results_list = state.results.split(',') %}
  
  M118
  M118 ========== 최종 Z 오프셋 측정 결과 (Final Z Offset Results) ==========
  
  {% for offset in results_list %}
    {% if loop.index0 == 0 %}
      M118  T0 : 기준점 / Reference Point (0.00000 mm)
    {% else %}
      # 출력 형식을 맞추기 위해 공백 추가
      M118  T{loop.index0} : {offset} mm
    {% endif %}
  {% endfor %}
  M118 ======================================================================
  M118
