##########################
# LED Effects Animations #
##########################

# [gcode_macro _T0_vars]
# variable_logo_led_name:         "T0_leds"
# variable_logo_idx:              "1"
# variable_nozzle_led_name:       "T0_leds"
# variable_nozzle_idx:            "2,3"
# gcode:

# {printer["gcode_macro _T0_vars"].logo_led_name} ({printer["gcode_macro _T0_vars"].logo_idx})

# [gcode_macro _T1_vars]
# variable_logo_led_name:         "T1_leds"
# variable_logo_idx:              "1"
# variable_nozzle_led_name:       "T1_leds"
# variable_nozzle_idx:            "2,3"
# gcode:

# {printer["gcode_macro _T1_vars"].logo_led_name} ({printer["gcode_macro _T1_vars"].logo_idx})

[led_effect critical_error]
leds:
    neopixel:T0_leds
    neopixel:T1_leds
layers:
    strobe         1  1.5   add        (1.0,  1.0, 1.0)
    breathing      2  0     difference (0.95, 0.0, 0.0)
    static         1  0     top        (1.0,  0.0, 0.0)
autostart:                             false
frame_rate:                            24
run_on_error:                          true

[led_effect LED_LOGO_T0]
autostart: false
frame_rate: 3
leds:
    neopixel:T0_leds (1)
layers:
    static 1 0 top (1,.25,0,0)

[led_effect LED_LOGO_T1]
autostart: false
frame_rate: 3
leds:
    neopixel:T1_leds (1)
layers:
    static 1 0 top (1,0,1,0)

[led_effect LED_LOGO_STANDBY_T0]
autostart: false
frame_rate: 3
leds:
    neopixel:T0_leds (1)
layers:
    breathing 6 0 multiply (.2,.2,.2,.2),(.5,.5,.5,.5)
    static 1 0 top (1,.25,0,0)

[led_effect LED_LOGO_STANDBY_T1]
autostart: false
frame_rate: 3
leds:
    neopixel:T1_leds (1)
layers:
    breathing 6 0 multiply (.2,.2,.2,.2),(.5,.5,.5,.5)
    static 1 0 top (1,0,1,0)

[led_effect LED_NOZZLE_T0]
autostart: false
frame_rate: 24
heater: extruder
leds:
    neopixel:T0_leds (2,3)
layers:
    heaterfire 100 1 multiply (0,0,0,0),(.75,.75,.75,.75)
    heater 50 0 bottom (0,0,1,0),(1,.25,0,0)
    static 1 0 top (0,0,0,0)

[led_effect LED_NOZZLE_T1]
autostart: false
frame_rate: 24
heater: extruder1
leds:
    neopixel:T1_leds (2,3)
layers:
    heaterfire 0 1 multiply (0,0,0,0),(.75,.75,.75,0)
    heater 50 0 top (0,0,1,0),(1,0,1,0)
    static 1 0 top (0,0,0,0)

##############
# The Macros #
##############

[gcode_macro set_logo_leds_off]
gcode:
    SET_LED_EFFECT EFFECT=set_logo_leds STOP=1

[gcode_macro set_logo_leds_on]
gcode:
    SET_LED_EFFECT EFFECT=set_logo_leds

[gcode_macro set_nozzle_leds_on]
gcode:
    SET_LED_EFFECT EFFECT=set_nozzle_leds

[gcode_macro set_nozzle_leds_off]
gcode:
    SET_LED_EFFECT EFFECT=set_nozzle_leds STOP=1

[gcode_macro status_off]
gcode:
    STOP_LED_EFFECTS

[gcode_macro status_ready]
gcode:
    STOP_LED_EFFECTS
    SET_LED_EFFECT EFFECT=rainbow

[gcode_macro status_part_ready]
gcode:
    STOP_LED_EFFECTS
    SET_LED_EFFECT EFFECT=sb_nozzle_part_ready
    SET_LED_EFFECT EFFECT=sb_logo_part_ready

[gcode_macro status_busy]
gcode:
    STOP_LED_EFFECTS
    SET_LED_EFFECT EFFECT=sb_logo_busy
    set_nozzle_leds_on

[gcode_macro status_heating]
gcode:
    STOP_LED_EFFECTS
    SET_LED_EFFECT EFFECT=sb_logo_heating
    SET_LED_EFFECT EFFECT=sb_nozzle_heating

[gcode_macro status_cooling]
gcode:
    STOP_LED_EFFECTS
    SET_LED_EFFECT EFFECT=sb_logo_cooling
    SET_LED_EFFECT EFFECT=sb_nozzle_cooling


[gcode_macro status_leveling]
gcode:
    STOP_LED_EFFECTS
    SET_LED_EFFECT EFFECT=sb_logo_leveling
    set_nozzle_leds_on

[gcode_macro status_homing]
gcode:
    STOP_LED_EFFECTS
    SET_LED_EFFECT EFFECT=sb_logo_homing
    set_nozzle_leds_on

[gcode_macro status_cleaning]
gcode:
    STOP_LED_EFFECTS
    SET_LED_EFFECT EFFECT=sb_logo_cleaning
    set_nozzle_leds_on

[gcode_macro status_meshing]
gcode:
    STOP_LED_EFFECTS
    SET_LED_EFFECT EFFECT=sb_logo_meshing
    set_nozzle_leds_on

[gcode_macro status_calibrating_z]
gcode:
    STOP_LED_EFFECTS
    SET_LED_EFFECT EFFECT=sb_logo_calibrating_z
    set_nozzle_leds_on

[gcode_macro status_printing]
gcode:
    STOP_LED_EFFECTS
    SET_LED_EFFECT EFFECT=sb_logo_printing
    set_nozzle_leds_on