##########################
# LED Effects Animations #
##########################

# [gcode_macro _T0_vars]
# variable_logo_led_name:         "T0_leds"
# variable_logo_idx:              "1"
# variable_nozzle_led_name:       "T0_leds"
# variable_nozzle_idx:            "2,3"
# gcode:

# {printer["gcode_macro _T0_vars"].logo_led_name} ({printer["gcode_macro _T0_vars"].logo_idx})

# [gcode_macro _T1_vars]
# variable_logo_led_name:         "T1_leds"
# variable_logo_idx:              "1"
# variable_nozzle_led_name:       "T1_leds"
# variable_nozzle_idx:            "2,3"
# gcode:

# {printer["gcode_macro _T1_vars"].logo_led_name} ({printer["gcode_macro _T1_vars"].logo_idx})

[led_effect CRITICAL_ERROR]
leds:
    neopixel:T0_leds
    neopixel:T1_leds
layers:
    strobe         1  1.5   add        (1.0,  1.0, 1.0)
    breathing      2  0     difference (0.95, 0.0, 0.0)
    static         1  0     top        (1.0,  0.0, 0.0)
autostart:                             false
frame_rate:                            24
run_on_error:                          true

[led_effect LED_NOZZLE_PAUSE]
leds:
    neopixel:T0_leds (1,3)
    neopixel:T1_leds (1,3)
layers:
    static         1  0     top        (0.0,  1.0, 0.0, 0)
autostart:                             false
frame_rate:                            4
run_on_error:                          false


[led_effect LED_NOZZLE_PROBE]
endstops: stepper_x, stepper_y
leds:
    neopixel:T0_leds (1,3)
    neopixel:T1_leds (1,3)
layers:
    homing 1  0  top (1.0,0,0,0)
    static 24  0     top        (0.0, 0.0, 0.0, 1.00)
autostart:                             false
frame_rate:                            24
run_on_error:                          false

[led_effect LED_NOZZLE_QUAD]

leds:
    neopixel:T0_leds
    neopixel:T1_leds
layers:
    twinkle 4 .4 overlay (0.0,0.0,0.0,1),(0.3,0.0,0.3,0.0),(0.0,0.5,0.5,0.0)
    static 24  0     top        (0.0, 0.0, 1.0, 0.00)
autostart:                             false
frame_rate:                            24
run_on_error:                          false

[led_effect LED_NOZZLE_FINISHED]
leds:
    neopixel:T0_leds
    neopixel:T1_leds
layers:
    twinkle 4 .4 overlay (0.0,0.0,0.0,1),(0.3,0.0,0.3,0.0),(0.0,0.5,0.5,0.0)
    static 24  0     top        (0.0, 1.0, 0.0, 0.00)
autostart:                             false
frame_rate:                            24
run_on_error:                          false


[led_effect LED_NOZZLE_TOUCH_T0]
stepper: z
leds:
    neopixel:T0_leds (1,3)
layers:
    steppercolor 25 0 top (0,0,0,1),(1.0,0,1.0,0)
    static 24  0     top        (1.0,  0.0, 1.0, 0.00)
autostart:                             false
frame_rate:                            10
run_on_error:                          false

[led_effect LED_NOZZLE_TOUCH_T1]
stepper: z
leds:
    neopixel:T1_leds (1,3)
layers:
    steppercolor 25 0 top (0,0,0,1),(1.0,0,1.0,0)
    static 24  0     top        (1.0,  0.0, 1.0, 0.00)
autostart:                             false
frame_rate:                            10
run_on_error:                          false

[led_effect LED_NOZZLE_SCAN_T0]
stepper: y
leds:
    neopixel:T0_leds (1,3)
layers:
    steppercolor 1 0 top (0,0,0,1),(1.0,0,1.0,0)
    static 24  0     top        (1.0,  0.0, 1.0, 0.00)
autostart:                             false
frame_rate:                            10
run_on_error:                          false

[led_effect LED_NOZZLE_SCAN_T1]
stepper: x
leds:
    neopixel:T1_leds (1,3)
layers:
    steppercolor 1 0 top (0,0,0,1),(1.0,0,1.0,0)
    static 24  0     top        (1.0,  0.0, 1.0, 0.00)
autostart:                             false
frame_rate:                            10
run_on_error:                          false


[led_effect LED_LOGO_T0]
autostart: false
frame_rate: 3
leds:
    neopixel:T0_leds (2)
layers:
    static 1 0 top (1,.25,0,0)

[led_effect LED_LOGO_T1]
autostart: false
frame_rate: 3
leds:
    neopixel:T1_leds (2)
layers:
    static 1 0 top (1,0,1,0)

[led_effect LED_LOGO_STANDBY_T0]
autostart: true
frame_rate: 24
leds:
    neopixel:T0_leds (2)
layers:
    breathing 24 0 multiply (.5,.5,.5,.5),(.6,.6,.6,.6)
    static 1 0 top (1,.25,0,0)

[led_effect LED_LOGO_STANDBY_T1]
autostart: true
frame_rate: 24
leds:
    neopixel:T1_leds (2)
layers:
    breathing 24 0 multiply (.5,.5,.5,.5),(.6,.6,.6,.6)
    static 1 0 top (1,0,1,0)

[led_effect LED_NOZZLE_STANDBY_T0]
autostart: true
frame_rate: 5
heater: extruder
leds:
    neopixel:T0_leds (1,3)
layers:
    heater 35 0 top (0,0,.5,0),(1,.25,0,.2)
    static 1 0 top (0,0,0,0)

[led_effect LED_NOZZLE_STANDBY_T1]
autostart: true
frame_rate: 5
heater: extruder1
leds:
    neopixel:T1_leds (1,3)
layers:
    heater 35 0 top (0,0,.5,0),(1,0,1,.2)
    static 1 0 top (0,0,0,0)

[led_effect LED_NOZZLE_T0]
autostart: false
frame_rate: 5
heater: extruder
leds:
    neopixel:T0_leds (1,3)
layers:
    heaterfire 100 1 multiply (0,0,0,0),(1,1,1,1)
    heater 50 0 top (0,0,1,0),(1,.25,0,0)
    static 1 0 top (0,0,0,0)

[led_effect LED_NOZZLE_T1]
autostart: false
frame_rate: 5
heater: extruder1
leds:
    neopixel:T1_leds (1,3)
layers:
    heaterfire 0 1 multiply (0,0,0,0),(1,1,1,1)
    heater 50 0 top (0,0,1,0),(1,0,1,0)
    static 1 0 top (0,0,0,0)
    
##############
# The Macros #
##############
[gcode_macro set_critical_error]
gcode:
    SET_LED_EFFECT EFFECT=CRITICAL_ERROR

[gcode_macro set_nozzle_leds_pause]
gcode:
    SET_LED_EFFECT EFFECT=LED_NOZZLE_PAUSE

[gcode_macro set_logo_leds_T0]
gcode:
    SET_LED_EFFECT EFFECT=LED_LOGO_T0

[gcode_macro set_logo_leds_T1]
gcode:
    SET_LED_EFFECT EFFECT=LED_LOGO_T1

[gcode_macro set_logo_leds_standby_T0]
gcode:
    SET_LED_EFFECT EFFECT=LED_LOGO_STANDBY_T0

[gcode_macro set_logo_leds_standby_T1]
gcode:
    SET_LED_EFFECT EFFECT=LED_LOGO_STANDBY_T1

[gcode_macro set_nozzle_leds_T0]
gcode:
    SET_LED_EFFECT EFFECT=LED_LOGO_T0

[gcode_macro set_nozzle_leds_T1]
gcode:
    SET_LED_EFFECT EFFECT=LED_LOGO_T1

[gcode_macro set_nozzle_leds_touching_T0]
gcode:
    SET_LED_EFFECT EFFECT=LED_LOGO_T0
    
[gcode_macro set_nozzle_leds_touching_T1]
gcode:
    SET_LED_EFFECT EFFECT=LED_LOGO_T1

[gcode_macro set_nozzle_leds_T1]
gcode:
    SET_LED_EFFECT EFFECT=LED_LOGO_T1

[gcode_macro set_nozzle_leds_standby_T0]
gcode:
    SET_LED_EFFECT EFFECT=LED_NOZZLE_STANDBY_T0

[gcode_macro set_nozzle_leds_standby_T1]
gcode:
    SET_LED_EFFECT EFFECT=LED_NOZZLE_STANDBY_T1

[gcode_macro set_nozzle_leds_scan_T0]
gcode:
    SET_LED_EFFECT EFFECT=LED_NOZZLE_SCAN_T0
    SET_LED_EFFECT EFFECT=LED_LOGO_T0
    SET_LED_EFFECT EFFECT=LED_LOGO_STANDBY_T1
    SET_LED_EFFECT EFFECT=LED_NOZZLE_STANDBY_T1

[gcode_macro set_nozzle_leds_scan_T1]
gcode:
    SET_LED_EFFECT EFFECT=LED_NOZZLE_SCAN_T1
    SET_LED_EFFECT EFFECT=LED_LOGO_T1
    SET_LED_EFFECT EFFECT=LED_LOGO_STANDBY_T0
    SET_LED_EFFECT EFFECT=LED_NOZZLE_STANDBY_T0

[gcode_macro set_leds_quad]
gcode:
    SET_LED_EFFECT EFFECT=LED_LOGO_STANDBY_T0
    SET_LED_EFFECT EFFECT=LED_NOZZLE_TOUCH_T0
    SET_LED_EFFECT EFFECT=LED_LOGO_STANDBY_T1
    SET_LED_EFFECT EFFECT=LED_NOZZLE_TOUCH_T1

[gcode_macro set_nozzle_leds_homing]
gcode:
    SET_LED_EFFECT EFFECT=LED_NOZZLE_PROBE
    SET_LED_EFFECT EFFECT=LED_LOGO_STANDBY_T0
    SET_LED_EFFECT EFFECT=LED_LOGO_STANDBY_T1

[gcode_macro set_nozzle_leds_finished]
gcode:
    SET_LED_EFFECT EFFECT=LED_NOZZLE_FINISHED
    SET_LED_EFFECT EFFECT=LED_LOGO_STANDBY_T0
    SET_LED_EFFECT EFFECT=LED_LOGO_STANDBY_T1
    
[gcode_macro set_leds_print_auto]
gcode:
  {% set tn = printer.toolchanger.tool_number|int %}
  {% if tn == 0 %}
      set_logo_leds_T0
      set_nozzle_leds_T0
      set_logo_leds_standby_T1
      set_nozzle_leds_standby_T1
  {% elif tn == 1 %}
      set_logo_leds_T1
      set_nozzle_leds_T1
      set_logo_leds_standby_T0
      set_nozzle_leds_standby_T0
  {% elif tn == -1 %}
      set_logo_leds_standby_T1
      set_nozzle_leds_standby_T1
      set_logo_leds_standby_T0
      set_nozzle_leds_standby_T0
  {% endif %}
