# Print Start Ref:
# PRINT_WARMUP BED_TEMP={first_layer_bed_temperature[0]}
# PRINT_START T0_TEMP={first_layer_temperature[0]} T1_TEMP={first_layer_temperature[1]} BED_TEMP={first_layer_bed_temperature[0]} TOOL_TEMP={first_layer_temperature[{initial_tool}]} TOOL={initial_tool} IST0={is_extruder_used[0]} IST1={is_extruder_used[1]}

[gcode_macro PRINT_WARMUP]
description: Perform initial homing and heating tasks
gcode:
    RESPOND MSG="PRINT_WARMUP!"
    
    {% set BED_TEMP = params.BED_TEMP | int %}
    INITIALIZE_TOOLCHANGER
    STOP_FILAMENT_SENSORS ;confirm filament sensors disabled
    STOP_CRASH_DETECTION
    {% if not 'xyz' in printer.toolhead.homed_axes %}
      RESPOND MSG="Homing"
      G28                             ; home all axes if not homed
    {% endif %}
    BED_HEATSOAK TEMP={BED_TEMP}
    G1 Z30


[gcode_macro PRINT_START]
gcode:
  RESPOND MSG="PRINT_START!"
  
  INITIALIZE_TOOLCHANGER    
  
  {% set TOOL = params.TOOL | default(0)| int %}
  {% set TOOL_SELECTED = printer[printer.toolchanger.tool] %}
  {% set TOOL_TEMP = params.TOOL_TEMP | default(0) | int %}
  {% set BED_TEMP = params.BED_TEMP | default(0) | int %}
  {% set T0_TEMP = params.T0_TEMP | default(0)| int %}
  {% set T1_TEMP = params.T1_TEMP | default(0)| int %}
  {% set t0_used = params.IST0|upper %}
  {% set t1_used = params.IST1|upper %}
  
  STOP_FILAMENT_SENSORS ;confirm filament sensors disabled and crash is off
  
  STOP_CRASH_DETECTION
  
  {% if t0_used =="TRUE" and t1_used =="TRUE" %}; If both toolheads are used, heat them both to probing temp, select T0
    T0 TOGGLE_SENSORS=0;
    M104 T0 S170
    M104 T1 S170
    RESPOND MSG="Heating T0/T1 to probing temp"
  {% elif t0_used =="TRUE" %};  If only T0 is used, heat it to probing temp
    T0 TOGGLE_SENSORS=0;
    M104 T0 S170
    RESPOND MSG="Heating T0 to probing temp"
  {% elif t1_used =="TRUE" %};  If only T1 is used, heat it to probing temp
    T1 TOGGLE_SENSORS=0;
    M104 T1 S170
    RESPOND MSG="Heating T1 to probing temp"
  {% else %}
    PAUSE
    RESPOND MSG="No toolhead defined0"
  {% endif %}
  
  RESPOND MSG="Confirming bed temperature setting"
  M140 S{BED_TEMP}

  {% if not 'xyz' in printer.toolhead.homed_axes %}
    RESPOND MSG="Homing"
    G28                             ; home all axes if not homed
  {% endif %}
  
  QUAD_GANTRY_LEVEL

  BED_MESH_CALIBRATE ADAPTIVE=1 ; Run adaptive bed mesh

  {% if t0_used =="TRUE" %}
    M109 T0 S230
    M109 T0 S170
    RESPOND MSG="Verifying probing temp, T0"
  {% elif t1_used =="TRUE" %}
    M109 T1 S230
    M109 T1 S170
    RESPOND MSG="Verifying probing temp, T1"
  {% else %}
    PAUSE
    RESPOND MSG="No toolhead defined1"
  {% endif %}

  CARTOGRAPHER_TOUCH_HOME

  ; Switch to the initial printing tool and preheat it.
  {% if TOOL > 0 %}
    M104 T0 S0 ; Shutdown T0.
    T{TOOL} TOGGLE_SENSORS=0; Switch to the initial printing tool
  {% else %}
    T0 TOGGLE_SENSORS=0
  {% endif %}
   
  RESPOND MSG="Waiting on T{TOOL}, target={TOOL_TEMP}C"
  M109 S{TOOL_TEMP} ; Wait for the tool to reach the target temperature

  # START_CRASH_DETECTION
  # START_FILAMENT_SENSORS_DELAYED_T{TOOL}
  M83
  
  RESPOND MSG="PRINT_START Complete, purging{TOOL}"

  LINE_PURGE

  RESPOND MSG="Printing!"

[homing_override]
gcode:
  {% if not 'Z' in printer.toolhead.homed_axes %}
    G91
    SET_KINEMATIC_POSITION SET_HOMED=Z
    G1 Z15
    {% endif %}
  {% if not 'Z' in params and not 'X' in params and 'Y' in params %}
    G28 Y
  {% elif not 'Z' in params and not 'Y' in params and 'X' in params %}
    G28 X
  {% elif not 'Z' in params and 'X' in params and 'Y' in params %}
    G28 Y
    G28 X
  {% elif 'Z' in params and not 'X' in params and not 'Y' in params %}
    G90
    G1 X170 Y175 F4800
    G28 Z
  {% else %}
    G28 Y
    G28 X
    G90
    G1 X170 Y175 F4800
    G28 Z
    {% endif %}
    G90
axes: xyz

[gcode_macro STOP_CRASH_DETECTION]
gcode: 
  RESPOND MSG="Stopping crash detection" 
  TDD_STOP
  TDD_POLLING_STOP
 
[gcode_macro START_CRASH_DETECTION]
gcode: 
  RESPOND MSG="Starting crash detection" 
  TDD_POLLING_START
  TDD_START

[gcode_macro PAUSE_HOUSEKEEPING]    ; Everything inside the "" will be executed after the klipper base pause (PAUSE_BASE) function
gcode:
  RESPOND MSG="PAUSE COMMAND"
  STOP_FILAMENT_SENSORS
  STOP_CRASH_DETECTION
  
[gcode_macro RESUME_HOUSEKEEPING]    ; Everything inside the "" will be executed before the klipper base resume (RESUME_BASE) function
gcode:
  RESPOND MSG="RESUME COMMAND" 
  {% set tool = printer.toolchanger.tool %}
  START_FILAMENT_SENSORS_T{TOOL}_DELAYED
  START_CRASH_DETECTION
  M83
  
[gcode_macro CANCEL_HOUSEKEEPING]    ; Everything inside the "" will be executed before the klipper base cancel (CANCEL_PRINT_BASE) function
gcode:
  STOP_FILAMENT_SENSORS
  STOP_CRASH_DETECTION
  RESPOND MSG="CANCEL COMMAND" 

[gcode_macro PAUSE_COLD]
description: Pause the actual running print, kill heaters
gcode:
  RESPOND MSG="PAUSE_COLD"
  ##### get user parameters or use default ##### 
  {% set client = printer['gcode_macro _CLIENT_VARIABLE']|default({}) %}
  {% set idle_timeout = client.idle_timeout|default(0) %}
  {% set temp = printer[printer.toolhead.extruder].target if printer.toolhead.extruder != '' else 0 %}
  {% set restore = False if printer.toolhead.extruder == ''
              else True  if params.RESTORE|default(1)|int == 1 else False %}
  ##### end of definitions #####
  SET_GCODE_VARIABLE MACRO=RESUME VARIABLE=last_extruder_temp VALUE="{{'restore': restore, 'temp': temp}}"
  # set a new idle_timeout value
  {% if idle_timeout > 0 %}
    SET_GCODE_VARIABLE MACRO=RESUME VARIABLE=restore_idle_timeout VALUE={printer.configfile.settings.idle_timeout.timeout}
    SET_IDLE_TIMEOUT TIMEOUT={idle_timeout}
  {% endif %}
  PAUSE_BASE
  TURN_OFF_HEATERS
  {client.user_pause_macro|default("")}
  _TOOLHEAD_PARK_PAUSE_CANCEL {rawparams}

[gcode_macro PRINT_END]
gcode:
    # Turn off bed, extruder, and fan
    M140 S0
    M104 T0 S0
    M104 T1 S0
    # Move nozzle away from print while retracting
    G91
    G1 X-2 Y-2 E-2.25 F300
    # Raise nozzle by 10mm
    G1 Z10 F3000
    G90
    G1 X170 Y90
    # Disable steppers
    M84
    RESPOND MSG="Print Complete"
  
[gcode_macro STOP_FILAMENT_SENSORS]
gcode:
  SET_FILAMENT_SENSOR SENSOR="switch_sensor_T0" ENABLE=0
  SET_FILAMENT_SENSOR SENSOR="encoder_sensor_T0" ENABLE=0
  SET_FILAMENT_SENSOR SENSOR="switch_sensor_T1" ENABLE=0
  SET_FILAMENT_SENSOR SENSOR="encoder_sensor_T1" ENABLE=0
  # RESPOND TYPE=echo MSG="Filament sensors stopped"

[gcode_macro _CLIENT_VARIABLE]
variable_use_custom_pos   : True  ; use custom park coordinates for x,y [True/False]
variable_custom_park_x    : 170   ; custom x position; value must be within your defined min and max of X
variable_custom_park_y    : 90   ; custom y position; value must be within your defined min and max of Y
variable_custom_park_dz   : 15.0   ; custom dz value; the value in mm to lift the nozzle when move to park position
variable_retract          : 2.25   ; the value to retract while PAUSE
variable_cancel_retract   : 2.25   ; the value to retract while CANCEL_PRINT
variable_speed_retract    : 40.0  ; retract speed in mm/s
variable_unretract        : 2.25   ; the value to unretract while RESUME
variable_speed_unretract  : 40.0  ; unretract speed in mm/s
variable_speed_hop        : 15.0  ; z move speed in mm/s
variable_speed_move       : 100.0 ; move speed in mm/s
variable_park_at_cancel   : True ; allow to move the toolhead to park while execute CANCEL_PRINT [True/False]
variable_park_at_cancel_x : 170  ; different park position during CANCEL_PRINT [None/Position as Float]; park_at_cancel must be True
variable_park_at_cancel_y : 90  ; different park position during CANCEL_PRINT [None/Position as Float]; park_at_cancel must be True
# !!! Caution [firmware_retraction] must be defined in the printer.cfg if you set use_fw_retract: True !!!
variable_use_fw_retract   : False ; use fw_retraction instead of the manual version [True/False]
variable_idle_timeout     : 35000     ; time in sec until idle_timeout kicks in. Value 0 means that no value will be set or restored
variable_runout_sensor    : ""    ; If a sensor is defined, it will be used to cancel the execution of RESUME in case no filament is detected.
#                                   Specify the config name of the runout sensor e.g "filament_switch_sensor runout". Hint use the same as in your printer.cfg
# !!! Custom macros, please use with care and review the section of the corresponding macro.
# These macros are for simple operations like setting a status LED. Please make sure your macro does not interfere with the basic macro functions.
# Only  single line commands are supported, please create a macro if you need more than one command.
variable_user_pause_macro : "PAUSE_HOUSEKEEPING"    ; Everything inside the "" will be executed after the klipper base pause (PAUSE_BASE) function
variable_user_resume_macro: "RESUME_HOUSEKEEPING"    ; Everything inside the "" will be executed before the klipper base resume (RESUME_BASE) function
variable_user_cancel_macro: "CANCEL_HOUSEKEEPING"    ; Everything inside the "" will be executed before the klipper base cancel (CANCEL_PRINT_BASE) function
gcode:

[gcode_macro update_git]
gcode:
    {% set message = params.MESSAGE|default() %}
    {% if message %}
        RUN_SHELL_COMMAND CMD=update_git_script_message PARAMS="'{params.MESSAGE}'"
    {% else %}
        RUN_SHELL_COMMAND CMD=update_git_script
    {% endif %}

[gcode_shell_command update_git_script]
command: bash -c "bash $HOME/klipper-backup/script.sh"
timeout: 90.0
verbose: True

[gcode_shell_command update_git_script_message]
command: bash -c "bash $HOME/klipper-backup/script.sh -c \"$0\""
timeout: 90.0
verbose: True