# [include mainsail.cfg]

[include toolchanger/readonly-configs/toolchanger-include.cfg]
[include macros_heatsoak.cfg]
[include macros.cfg]
[include KAMP_Settings.cfg]
[include LEDS.cfg]
#[include auto_z_offset.cfg]



#####################################################################
#   Basic Shit
#####################################################################
[idle_timeout]
timeout: 1200
[pause_resume]
[exclude_object]
[force_move]
enable_force_move: true
[respond]
[gcode_arcs]
resolution: 0.1
[virtual_sdcard]
path: ~/printer_data/gcodes
on_error_gcode:
  CANCEL_PRINT
  set_critical_error
[axis_twist_compensation]
speed: 200
calibrate_start_x: 50
calibrate_end_x: 290
calibrate_y: 200

calibrate_start_y: 125
calibrate_end_y: 290
calibrate_x: 170

[display_status]

[danger_options]
multi_mcu_trsync_timeout: 0.05

[include tool_drop_detection.cfg]


[duplicate_pin_override nudge_pin]
pins: PG11
#   A comma separated list of pins that may be used multiple times in
#   a config file without normal error checks. This parameter must be
#   provided.

#####################################################################
#   Printer
#####################################################################
[mcu]
##  Main MCU, all kinematic motors
serial: /dev/serial/by-path/platform-fd500000.pcie-pci-0000:01:00.0-usb-0:1.1:1.0
restart_method: command

[printer]
kinematics: corexy
max_velocity: 700
max_accel: 20000
# max_x_accel: 22000
# max_y_accel: 14000
max_z_velocity: 40
max_z_accel: 500
square_corner_velocity: 12
minimum_cruise_ratio: 0.5
# scale_xy_accel: False

#####################################################################
#   X/Y Stepper Settings
#####################################################################

[stepper_x1]
# A Motor - Left Front
#high_precision_step_compress: False
step_pin: PF13
dir_pin: PF12
enable_pin: !PF14
rotation_distance: 40
microsteps: 32
full_steps_per_rotation: 200

[tmc2209 stepper_x1]
uart_pin: PC4
interpolate: True
run_current: 1.6
sense_resistor: 0.100
home_current: .1
# driver_SGTHRS: 255

[autotune_tmc stepper_x1]
motor: ldo-42sth48-2504ah
tuning_goal: performance
extra_hysteresis: 2
sg4_thrs: 85


[stepper_y]
# B Motor - Left Rear
#high_precision_step_compress: False
homing_positive_dir: True
step_pin: PG0
dir_pin: PG1
enable_pin: !PF15
rotation_distance: 40
microsteps: 32
full_steps_per_rotation: 200
endstop_pin: PG9
position_min: 0
##--------------------------------------------------------------------
position_endstop: 358
position_max: 358
##--------------------------------------------------------------------
homing_speed: 40   #Max 100
homing_retract_dist: 15


[tmc2209 stepper_y]
uart_pin: PD11
interpolate: True
run_current: 1.6
sense_resistor: 0.100
home_current: 1
# driver_SGTHRS: 255

[autotune_tmc stepper_y]
motor: ldo-42sth48-2504ah
tuning_goal: performance
extra_hysteresis: 2
sg4_thrs: 85


[stepper_x]
# A Motor - Right Rear
#high_precision_step_compress: False
homing_positive_dir: True
step_pin: PF11
dir_pin: PG3
enable_pin: !PG5
rotation_distance: 40
microsteps: 32
full_steps_per_rotation: 200
endstop_pin: PG6
position_min: 0
##--------------------------------------------------------------------
position_endstop: 340
position_max: 340
##--------------------------------------------------------------------
homing_speed: 40 #Max 100
homing_retract_dist: 15
use_sensorless_homing: False

##  Make sure to update below for your relevant driver (2208 or 2209)
[tmc2209 stepper_x]
uart_pin: PC6
diag_pin: ^PG10
interpolate: True
run_current: 1.6
sense_resistor: 0.10
home_current: 1
# driver_SGTHRS: 255

[autotune_tmc stepper_x]
motor: ldo-42sth48-2504ah
tuning_goal: performance
extra_hysteresis: 2
sg4_thrs: 85

[stepper_y1]
# B Motor - Right Front
#high_precision_step_compress: False
step_pin: PG4
dir_pin: PC1
enable_pin: !PA0
rotation_distance: 40
microsteps: 32
full_steps_per_rotation: 200

[tmc2209 stepper_y1]
uart_pin: PC7
interpolate: True
run_current: 1.6
sense_resistor: 0.10
home_current: .1
# driver_SGTHRS: 255

[autotune_tmc stepper_y1]
motor: ldo-42sth48-2504ah
tuning_goal: performance
extra_hysteresis: 2
sg4_thrs: 85

#####################################################################
#   Z Stepper Settings
#####################################################################

##  Z Stepper - Front Left
[stepper_z]
#high_precision_step_compress: False
step_pin: PF9
dir_pin: PF10
enable_pin: !PG2
rotation_distance: 40
gear_ratio: 80:16
microsteps: 32
homing_retract_dist: 0
endstop_pin: probe:z_virtual_endstop
position_max: 300
position_min: -10

##  Make sure to update below for your relevant driver (2208 or 2209)
[tmc2209 stepper_z]
uart_pin: PF2
sense_resistor: 0.110
run_current: .8
stealthchop_threshold: 0

##  Z1 Stepper - Rear Left
[stepper_z1]
#high_precision_step_compress: False
step_pin: PC13
dir_pin: !PF0
enable_pin: !PF1
rotation_distance: 40
gear_ratio: 80:16
microsteps: 32

[tmc2209 stepper_z1]
uart_pin: PE4
sense_resistor: 0.110
run_current: .8
stealthchop_threshold: 0

##  Z2 Stepper - Rear Right
[stepper_z2]
#high_precision_step_compress: False
step_pin: PE2
dir_pin: PE3
enable_pin: !PD4
rotation_distance: 40
gear_ratio: 80:16
microsteps: 32

[tmc2209 stepper_z2]
uart_pin: PE1
sense_resistor: 0.110
run_current: .8
stealthchop_threshold: 0

##  Z3 Stepper - Front Right
[stepper_z3]
#high_precision_step_compress: False
step_pin: PE6
dir_pin: !PA14
enable_pin: !PE0
rotation_distance: 40
gear_ratio: 80:16
microsteps: 32

[tmc2209 stepper_z3]
uart_pin: PD3
sense_resistor: 0.110
run_current: .8
stealthchop_threshold: 0

#####################################################################
#   Temperature Sensors
#####################################################################

[temperature_sensor raspberry_pi]
sensor_type: temperature_host
min_temp: 0
max_temp: 100

[temperature_sensor bed_edge]
sensor_type: Generic 3950
sensor_pin: PF4
min_temp: 0
max_temp: 120

[temperature_sensor Cartographer_MCU]
sensor_type: temperature_mcu
sensor_mcu: cartographer
min_temp: 0
max_temp: 105


#####################################################################
#   Bed Heater
#####################################################################

[heater_bed]
sensor_pin: PF3
heater_pin: PA3
sensor_type: Generic 3950
control: pid
max_power: 0.7
min_temp: 0
max_temp: 110
pid_Kp: 37.508
pid_Ki: 1.366
pid_Kd: 257.402

#####################################################################
#   Fans
#####################################################################

[controller_fan motors_fan]
pin: PA8
max_power: 1.0
fan_speed: 1
kick_start_time: 0
stepper: stepper_x

[fan_generic Nevermore]
pin: PE5

# [fan_generic PROBE_POWER]
# pin: PD12

#####################################################################
#   Cartographer/Scanning
#####################################################################
[mcu cartographer]
serial: /dev/serial/by-id/usb-Cartographer_stm32g431xx_440034000E5030514B343620-if00
restart_method: command

[cartographer]
mcu: cartographer
#backlash_comp: 0.1
x_offset: 0
#   X offset of cartographer from the nozzle.
y_offset: 27.5
verbose: No

[cartographer touch]
UNSAFE_max_touch_temperature: 210
samples: 3
max_noisy_samples: 3
max_samples: 15
EXPERIMENTAL_home_random_radius: 6
sample_range: 0.015

[cartographer scan]
mesh_runs: 2

[bed_mesh]
zero_reference_position: 170, 175    
speed: 300
horizontal_move_z: 5
#    height of scanner during bed mesh scan
mesh_min: 50, 125
#    start point of bed mesh [X, Y]
mesh_max: 290, 320
#    end point of bed mesh [X, Y]
probe_count: 30, 30
mesh_pps: 0,0
adaptive_margin: 10

[quad_gantry_level]
gantry_corners:
    -65,-10
    410,420
points:
    60,100
    60,325
    300,325
    300,100
speed: 450
horizontal_move_z: 12
retries: 6
retry_tolerance: 0.0075
max_adjust: 12

[adxl345 carto]
cs_pin: cartographer:PA0 # For Cartographer V4
spi_bus: spi1

#####################################################################
#   Motion Tuning
#####################################################################

[shaketune]
result_folder: ~/printer_data/config/ShakeTune_results
number_of_results_to_keep: 10
keep_raw_data: False
show_macros_in_webui: True
timeout: 600
measurements_chunk_size: 2
max_freq: 200
dpi: 300

[input_shaper]
shaper_type_x: mzv
shaper_freq_x: 83.2
damping_ratio_x: 0.069
shaper_type_y: mzv
shaper_freq_Y: 54.2
damping_ratio_y: 0.082

[resonance_tester]
accel_chip: adxl345 T0
probe_points: 170, 175, 40
accel_per_hz: 100
sweeping_accel: 400
#   An acceleration of slow sweeping moves. The default is 400 mm/sec^2.
#   A period of slow sweeping moves. Setting this parameter to 0
#   disables slow sweeping moves. Avoid setting it to a too small
#   non-zero value in order to not poison the measurements.
#   The default is 1.2 sec which is a good all-round choice.
sweeping_period: 0

[auto_speed]
axis: diag_x, diag_y ; One or multiple of `x`, `y`, `diag_x`, `diag_y`, `z`

margin: 65            ; How far away from your axes to perform movements

settling_home: 1      ; Perform settling home before starting Auto Speed
#max_missed: 1.0       ; Maximum full steps that can be missed
#endstop_samples: 3    ; How many endstop samples to take for endstop variance

#accel_min: 1000.0     ; Minimum acceleration test may try
#accel_max: 50000.0    ; Maximum acceleration test may try
#accel_accu: 0.05      ; Keep binary searching until the result is within this percentage

#velocity_min: 50.0    ; Minimum velocity test may try
#velocity_max: 5000.0  ; Maximum velocity test may try
#velocity_accu: 0.05   ; Keep binary searching until the result is within this percentage

derate: 0.8           ; Derate discovered results by this amount

#validate_margin: Unset      ; Margin for VALIDATE, Defaults to margin
#validate_inner_margin: 20.0 ; Margin for VALIDATE inner pattern
#validate_iterations: 50     ; Perform VALIDATE pattern this many times

results_dir: ~/printer_data/config/autospeed/ ; Destination directory for graphs

#####################################################################
#   Motor Sync
#####################################################################

# [motors_sync]
# axes: x,y
# accel_chip: adxl345 carto
# microsteps: 16
# retry_tolerance: 1500
# #    Forced threshold to which the motor impulse magnitude must drop for the
# #    synchronization procedure to complete successfully. Recommended to
# #    configure in order to filter possible measurement errors. When using an
# #    accelerometer, the typical range is [200..2000].
# retries: 4

# [delayed_gcode restore_motors_sync]
# initial_duration: 1.0
# gcode:
#   SYNC_MOTORS RESTORE_SYNC=1

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [cartographer scan_model default]
#*# coefficients = 1.4674315721700137,1.9079956533477402,0.751525307503333,0.5256088047969822,0.6362853463964724,0.20816001994248481,-0.46992000175475956,-0.2142604929777508,0.4143530148606824,0.27536412917335806
#*# domain = 3.2084269733840697e-07,3.3907839780252327e-07
#*# z_offset = 0
#*# reference_temperature = 26.87
#*# software_version = 1.9.0
#*# mcu_version = CARTOGRAPHER V4 6.0.0
#*#
#*# [cartographer touch_model default]
#*# threshold = 871
#*# speed = 2.0
#*# z_offset = -0.145
#*# software_version = 1.9.0
#*# mcu_version = CARTOGRAPHER V4 6.0.0
#*#
#*# [axis_twist_compensation]
#*# z_compensations = 0.017809, -0.008860, 0.008351, 0.003816, -0.021116
#*# compensation_start_x = 50.0
#*# compensation_end_x = 290.0
#*# zy_compensations = 0.007370, -0.019464, -0.019129, -0.002486, 0.033709
#*# compensation_start_y = 125.0
#*# compensation_end_y = 290.0
