[duplicate_pin_override drop_detect_pins]
pins: EBB_T0: PB6, EBB_T1: PB6
#   A comma separated list of pins that may be used multiple times in
#   a config file without normal error checks. This parameter must be
#   provided.

[filament_switch_sensor Detect_T0_indicator]
pause_on_runout: False
switch_pin: !EBB_T0: PB6
debounce_delay: 10
runout_gcode:
  {% if printer["gcode_macro DROP_DETECTION"].drop_detection_state %}
    _DROP_DETECT
  {% endif %}
  
[filament_switch_sensor Detect_T1_indicator]
pause_on_runout: False
switch_pin: !EBB_T1: PB6
debounce_delay: 10
runout_gcode:
  {% if printer["gcode_macro DROP_DETECTION"].drop_detection_state %}
    _DROP_DETECT
  {% endif %}

[gcode_macro START_DROP_DETECTION]
gcode:
  DROP_DETECTION DETECT_ON='True'
  
[gcode_macro STOP_DROP_DETECTION]
gcode:
  DROP_DETECTION DETECT_ON='False'

[gcode_macro DROP_DETECTION]
variable_drop_detection_state: 'False'
gcode:
  {% if params.DETECT_ON == 'True' %}
    SET_GCODE_VARIABLE MACRO=DROP_DETECTION VARIABLE=drop_detection_state VALUE='True'
    # RESPOND MSG="Drop Detection Activated!"
  {% elif params.DETECT_ON == 'False' %}
    SET_GCODE_VARIABLE MACRO=DROP_DETECTION VARIABLE=drop_detection_state VALUE='False'
    # RESPOND MSG="Drop Detection Deactivated!"
  {% endif %}

[gcode_macro _DROP_DETECT]
gcode:
  {% if printer.toolchanger.detected_tool_number | int != printer.toolchanger.tool_number | int %}
    # RESPOND MSG="Possible lost head!"
    M400
    G4 P2000
    {% if printer.toolchanger.detected_tool_number | int != printer.toolchanger.tool_number | int %}
      RESPOND TYPE=error MSG="Lost head!"
      PAUSE
    {% else %}
      # RESPOND MSG="Drop False Alarm!"
    {% endif %}
  {% endif %}

# [gcode_macro VERIFY_EMPTY]
# gcode:
#   {% if printer.toolchanger.detected_tool_number | int != -1 %}
#     RESPOND TYPE=error MSG="Tool present before pickup!"
#     SELECT_TOOL_ERROR
#   {% endif %}
