# THIS IS NOT AN EXHAUSTIVE LIST!
# use this file to override values in the other configs. 
# any value that is available in the configs can be overriden here
# just add the section ie: [tool_probe T0] and the value that is being overridden.  

# this file must be the last file to be included since values will be stored in the order they are
# received.  Klipper will take the last value and store that for the macros. 

[rounded_path]
resolution: 0.2 # the length of a circle approximation segments.
replace_g0: False # Use at your own risk

[force_move]
enable_force_move: True

[toolchanger]
params_safe_toolhead_y: 90  # safe motion while toolhead is present
params_safe_shuttle_y: 29  # safe motion with no toolhead present
params_close_y: 19   # Y position right before the magnets start to grab
params_attach_y: 4  # Y position matching the large opening of the slots
params_dock_x_clearance: 10
params_dock_x_t0: 42
params_dock_x_t1: 298
params_fast_speed: 30000 # Go as fast as we can
params_path_speed: 900 # 20mm/s for the actual change

require_tool_present: False # can set to False if using Beacon/Cartographer/Eddy for Z probe.

initialize_on: first-use
verify_tool_pickup: True
transfer_fan_speed: False
error_gcode:
  TOOL_CHANGER_ERROR

before_change_gcode:
  VERIFY_TOOL_DETECTED
  {% set tn = "T"+(tool.tool_number|string) %}
  {% if printer["gcode_macro " + tn ] %}
     SET_GCODE_VARIABLE MACRO={tn} VARIABLE=color VALUE="''"
  {% endif %}


after_change_gcode:
  VERIFY_TOOL_DETECTED
  {% set tn = "T"+(tool.tool_number|string) %}
  {% if printer["gcode_macro " + tn ] %}
     SET_GCODE_VARIABLE MACRO={tn} VARIABLE=color VALUE="'c44'"
  {% endif %}
  {% if tool.params_input_shaper_freq_x %}
    SET_INPUT_SHAPER SHAPER_FREQ_X={tool.params_input_shaper_freq_x} SHAPER_FREQ_Y={tool.params_input_shaper_freq_y}
  {% endif %}
  
[gcode_macro TOOL_CHANGER_ERROR]
gcode:
  RESPOND TYPE=error MSG='Toolchanger Error, PAUSING'
  PAUSE
  TURN_OFF_HEATERS

[gcode_macro homing_override_config]
variable_sensorless_x: False
variable_sensorless_y: False
variable_homing_rebound_y: 10 # for sensorless you probably want this set to 20.
variable_stepper_driver: "tmc2209"
variable_homing_current: 0.60

# M109 macro is overridden to allow some deadband on the temp
# default is +- 1 degree.  So if the set temp is 250 the the default
# deadband will be 249-251.  You can adjust this here:

[gcode_macro SET_TEMPERATURE_WITH_DEADBAND]
variable_default_deadband: 7.0

# these values need to be set to match the location of your Calibration Switch
[gcode_macro _CALIBRATION_SWITCH]
variable_x: 135.2375
variable_y: 16.610938
variable_z: 34
gcode:

[tools_calibrate]
pin: PG11   #pin that your calibration probe is connected to.
travel_speed: 10  # mms to travel sideways for XY probing
spread: 7 # mm to travel down from top for XY probing
lower_z: 1  # The speed (in mm/sec) to move tools down onto the probe
speed: 5  # The speed (in mm/sec) to retract between probes
lift_speed: 10  # Z Lift after probing done, should be greater than any Z variance between tools
final_lift_z: 15
sample_retract_dist: 4
samples:3
samples_result: median # median, average
samples_tolerance: 0.06
# Settings for nozzle probe calibration - optional.
# probe: probe # name of the nozzle probe to use
trigger_to_bottom_z: 0.35 # Offset from probe trigger to vertical motion bottoms out. 
# decrease if the nozzle is too high, increase if too low.

[gcode_macro CALIBRATE_MOVE_OVER_PROBE]
gcode:
    BED_MESH_CLEAR
    G0 Z{printer["gcode_macro _CALIBRATION_SWITCH"].z} F10000
    G0 X{printer["gcode_macro _CALIBRATION_SWITCH"].x} F10000
    G0 Y{printer["gcode_macro _CALIBRATION_SWITCH"].y} F10000

[gcode_macro CALIBRATE_NOZZLE_PROBE_OFFSET]
gcode:    
    CALIBRATE_MOVE_OVER_PROBE
    M109 S150    
    TOOL_LOCATE_SENSOR
    # TOOL_CALIBRATE_PROBE_OFFSET PROBE="{'tool_probe T' ~ printer.toolchanger.tool_number}" #modified because of carto/kalico error
    M104 S0


# [filament_switch_sensor my_sensor]
# pause_on_runout: False
# switch_pin: !PG11


