# THIS IS NOT AN EXHAUSTIVE LIST!
# use this file to override values in the other configs. 
# any value that is available in the configs can be overriden here
# just add the section ie: [tool_probe T0] and the value that is being overridden.  

# this file must be the last file to be included since values will be stored in the order they are
# received.  Klipper will take the last value and store that for the macros. 

[rounded_path]
resolution: 0.2 # the length of a circle approximation segments.
replace_g0: False # Use at your own risk

[force_move]
enable_force_move: True

[gcode_macro PRIME_SAFETY]
#PRIME_SAFETY T=0 AUTOPRIME='True'
variable_autoprime_t0: 'False' #prime T0 on toolchanges
variable_autoprime_t1: 'False' #prime T1 on toolchanges
gcode:
  {% set tn = params.T | int %}
  {% set autoprime = params.AUTOPRIME %}
  
  {% if autoprime == True %}
    SET_GCODE_VARIABLE MACRO=PRIME_SAFETY VARIABLE=autoprime_t{tn} VALUE='True'
  {% elif autoprime == False %}
    SET_GCODE_VARIABLE MACRO=PRIME_SAFETY VARIABLE=autoprime_t{tn} VALUE='False'
  {% endif %}

[toolchanger]  
params_safe_toolhead_y: 90  # safe motion while toolhead is present
params_safe_shuttle_y: 29  # safe motion with no toolhead present
params_close_y: 19   # Y position right before the magnets start to grab
params_attach_y: 7 # Y position matching the large opening of the slots
params_dock_x_clearance: 13
params_dock_x_t0: 42.5
params_dock_x_t1: 298.5
params_fast_speed: 30000 # Go as fast as we can
params_path_speed: 900 # 20mm/s for the actual change
params_brush_y: 10
params_brush_x_t0: 87
params_brush_x_t1: 258
params_brush_width: 20
params_brush_purge_width: 24
params_fast_purge: 2000
params_slow_purge: 300
params_prime_amount_t0: 4
params_prime_amount_t1: 8
params_filament_park_amount: 15
params_purge_dwell: 350

require_tool_present: False # can set to False if using Beacon/Cartographer/Eddy for Z probe.

initialize_on: first-use
verify_tool_pickup: False
transfer_fan_speed: True
error_gcode:
  TOOL_CHANGER_ERROR
after_change_gcode:
  {% set tn = "T"+(tool.tool_number|string) %}
  {% if printer["gcode_macro " + tn ] %}
     SET_GCODE_VARIABLE MACRO={tn} VARIABLE=color VALUE="'c44'"
  {% endif %}
  {% if 'input_shaper' in printer.configfile.config %}
    {% set default_x_freq = printer.configfile.config['input_shaper']['shaper_freq_x']|default(0)|float %}
    {% set default_x_type = printer.configfile.config['input_shaper']['shaper_type_x']|default('mzv')|string %}
    {% set default_x_damping = printer.configfile.config['input_shaper']['damping_ratio_x']|default(0.1)|float %}
    {% set default_y_freq = printer.configfile.config['input_shaper']['shaper_freq_y']|default(0)|float %}
    {% set default_y_type = printer.configfile.config['input_shaper']['shaper_type_y']|default('mzv')|string %}
    {% set default_y_damping = printer.configfile.config['input_shaper']['damping_ratio_y']|default(0.1)|float %}
    SET_INPUT_SHAPER SHAPER_TYPE_X={tool.params_input_shaper_type_x if tool.params_input_shaper_type_x else default_x_type} SHAPER_FREQ_X={tool.params_input_shaper_freq_x if tool.params_input_shaper_freq_x else default_x_freq} SHAPER_TYPE_Y={tool.params_input_shaper_type_y if tool.params_input_shaper_type_y else default_y_type} SHAPER_FREQ_Y={tool.params_input_shaper_freq_y if tool.params_input_shaper_freq_y else default_y_freq} DAMPING_RATIO_X={tool.params_input_shaper_damping_ratio_x if tool.params_input_shaper_damping_ratio_x else default_x_damping} DAMPING_RATIO_Y={tool.params_input_shaper_damping_ratio_y if tool.params_input_shaper_damping_ratio_y else default_y_damping}
  {% endif %}
  set_leds_print_auto
  
[gcode_macro TOOL_CHANGER_ERROR]
gcode:
  RESPOND TYPE=error MSG='Toolchanger Error'
  
  {% if printer['pause_resume'].is_paused|int == 0 %}
    PAUSE
  {% endif %}

  TURN_OFF_HEATERS

[gcode_macro homing_override_config]
variable_sensorless_x: False
variable_sensorless_y: False
variable_homing_rebound_y: 5 # for sensorless you probably want this set to 20.
variable_stepper_driver: "tmc2209"
variable_homing_current: 0.60

# M109 macro is overridden to allow some deadband on the temp
# default is +- 1 degree.  So if the set temp is 250 the the default
# deadband will be 249-251.  You can adjust this here:

[gcode_macro SET_TEMPERATURE_WITH_DEADBAND]
variable_default_deadband: 7.0

# these values need to be set to match the location of your Calibration Switch
[gcode_macro _CALIBRATION_SWITCH]
variable_x: 159.45
variable_y: 15.4
variable_z: 30
gcode:

[filament_switch_sensor NUDGE]
pause_on_runout: False
switch_pin: PG11

[tools_calibrate]
pin: PG11   #pin that your calibration probe is connected to.
travel_speed: 5  
spread: 7  # mms to travel sideways for XY probing
lower_z: .10  # mms to travel down from top for XY probing
speed: 2  # The speed (in mm/sec) to move tools down onto the probe
lift_speed: 25  # The speed (in mm/sec) to retract between probes
final_lift_z: 6 # Z Lift after probing done, should be greater than any Z variance between tools
sample_retract_dist: 1
samples_tolerance: 1
samples: 3
samples_result: median # median, average


[gcode_macro CALIBRATE_MOVE_OVER_PROBE]
gcode:
    G90
    BED_MESH_CLEAR
    G0 Z{printer["gcode_macro _CALIBRATION_SWITCH"].z} F10000
    G0 X{printer["gcode_macro _CALIBRATION_SWITCH"].x} F10000
    G0 Y{printer["gcode_macro _CALIBRATION_SWITCH"].y} F10000

[gcode_macro CALIBRATE_NOZZLE_PROBE_OFFSET]
gcode:    
    CALIBRATE_MOVE_OVER_PROBE
    M109 S150    
    TOOL_LOCATE_SENSOR
    # TOOL_CALIBRATE_PROBE_OFFSET PROBE="{'tool_probe T' ~ printer.toolchanger.tool_number}" #modified because of carto/kalico error
    M104 S0

[gcode_macro CALIBRATE_ALL_OFFSETS]
gcode:
    {% set tools = printer.toolchanger.tool_numbers %}
    {% set names = printer.toolchanger.tool_names %}
    
    M104 T0 S150
    M104 T1 S150
    
    SELECT_TOOL T={tools[0]}  RESTORE_AXIS=XYZ
    STOP_CRASH_DETECTION
    CALIBRATE_MOVE_OVER_PROBE    
    M109 T0 S150
    TOOL_LOCATE_SENSOR
    {% for tool in tools[1:] %}
        SELECT_TOOL T={tool}  RESTORE_AXIS=Z
        STOP_CRASH_DETECTION
        CALIBRATE_MOVE_OVER_PROBE
        TOOL_CALIBRATE_TOOL_OFFSET
        _SAVE_TOOL_OFFSET T={tool}
    {% endfor %}

    G0 Z50 F3000
    G0 X170 F20000
    G0 Y175 F20000

    SELECT_TOOL T={tools[0]}

# [gcode_macro _SAVE_Z_TOOL_SCANNER_OFFSET]
# gcode:
#     {% set state = printer["gcode_macro _CARTOGRAPHER_Z_CALIB_STATE"] %}
#     {% set results_list = state.results.split(',') %}
    
#     {% for offset in results_list %}
#       {% if loop.index0 == params.T %}
#         M118  T{loop.index0} : {offset} mm
#         SET_TOOL_PARAMETER T={params.T} PARAMETER=gcode_z_offset VALUE={offset}
#         SAVE_TOOL_PARAMETER T={params.T} PARAMETER=gcode_z_offset
#       {% endif %}
#     {% endfor %}  
    
[gcode_macro VERIFY_EMPTY]
gcode:
  {% if printer.toolchanger.detected_tool_number | int != -1 %}
    RESPOND TYPE=error MSG="Tool present before pickup!"
    SELECT_TOOL_ERROR
  {% endif %}