# This file contains common pin mappings for the BIGTREETECH EBBT1
# Canbus board. To use this config, the firmware should be compiled for the
# STM32G0B1 with "8 MHz crystal" and "USB (on PA11/PA12)" or "CAN bus (on PB0/PB1)".
# The "EBB Can" micro-controller will be used to control the components on the nozzle.

# See docs/Config_Reference.md for a description of parameters.

[mcu NHK_T1]
serial: /dev/serial/by-id/usb-Klipper_rp2040_4E363334320EBA55-if00

[adxl345 T1]
cs_pin: NHK_T1: gpio27
spi_software_sclk_pin: NHK_T1: gpio18
spi_software_mosi_pin: NHK_T1: gpio20
spi_software_miso_pin: NHK_T1: gpio19
axes_map: x, z, -y

[extruder1]
step_pin: NHK_T1:gpio23
dir_pin: !NHK_T1:gpio24
enable_pin: !NHK_T1:gpio25
##  Update value below when you perform extruder calibration
##  If you ask for 100mm of filament, but in reality it is 98mm:
##  rotation_distance = <previous_rotation_distance> * <actual_extrude_distance> / 100
##  22.678 is a good starting point for CW2
##  Current extruder: G2SA
##--------------------------------------------------------------------
rotation_distance: 5.612
##--------------------------------------------------------------------
microsteps: 16
full_steps_per_rotation: 200

nozzle_diameter: 1.0
filament_diameter: 1.75
max_extrude_cross_section: 5
max_extrude_only_distance: 200.0

#####################################################################
#   Heater
#####################################################################

heater_pin: NHK_T1:gpio9
sensor_pin: NHK_T1:gpio29
sensor_type: ATC Semitec 104NT-4-R025H42G
control: pid
pid_Kp: 39.485
pid_Ki: 15.484
pid_Kd: 25.172
min_temp: 0
max_temp: 293
min_extrude_temp: 180
##--------------------------------------------------------------------
## Pressure Advance
pressure_advance: 0.042             # Try to keep pressure_advance below 1.0
pressure_advance_smooth_time: 0.040 # Default is 0.040, leave stock
##--------------------------------------------------------------------

[tmc2209 extruder1]
uart_pin: NHK_T1:gpio0
tx_pin: NHK_T1:gpio1
run_current: 0.65
stealthchop_threshold: 0
sense_resistor: 0.100

[heater_fan T1_hotend_fan]
pin: NHK_T1:gpio5
heater: extruder1
heater_temp: 50.0
tachometer_pin: NHK_T1:gpio16

[fan_generic T1_partfan]
pin: NHK_T1: gpio6

[gcode_macro T1]
variable_active: 0
variable_color: ""
variable_tool_number: 1
gcode:
    SELECT_TOOL T=1

#change the tool numbers to the tool you are configuring, ie T1, T1, etc
[tool T1]
#change this too
tool_number: 1
detection_pin: !NHK_T1: gpio13
#if this were T1, then this would be extruder1, etc
extruder: extruder1
#Change T1_partfan to tool number
fan: T1_partfan
# Tool offset is 0.171875,-0.034375,-0.833750
gcode_x_offset: 0
gcode_y_offset: 0
gcode_z_offset: 0
#These are build specific, its where the tool is sititng in it's dock.
params_park_x: 300
params_park_y: 1

dropoff_gcode:
    {% set fast = tool.params_fast_speed|float %}
    {% set careful = tool.params_path_speed %}
    {% set max_z = printer.configfile.config["stepper_z"]["position_max"]|float %}
    {% set cur_z = printer.toolhead.position[2]|float %}
    RESPOND TYPE=echo MSG='Dropping off {tool.name}'
    G90
    ; Move 1 mm up to avoid crashing into things
    G0 Z{ [cur_z+1.0, max_z]|min } F{fast}
    #   ##############  Move up to the dock  ##############
    M400

    ROUNDED_G0 Y={tool.params_safe_toolhead_y} F={fast} D=20
    ROUNDED_G0 X={tool.params_dock_x_t1 - tool.params_dock_x_clearance} F={fast} D=10
    ROUNDED_G0 Y={tool.params_attach_y} F={fast} D=0
    
    #  ############## Run the path ##############
    G0 X{tool.params_dock_x_t1} F{careful}
    G4 P250
    G0 Y{tool.params_safe_shuttle_y} F{careful}
    G0 Y{tool.params_safe_toolhead_y} F{fast}
    
pickup_gcode:
    {% set fast = tool.params_fast_speed|float %}
    {% set careful = tool.params_path_speed %}
    {% set max_z = printer.configfile.config["stepper_z"]["position_max"]|float %}
    {% set cur_z = printer.toolhead.position[2]|float %}
    RESPOND TYPE=echo MSG='Picking up {tool.name}'
    G90
    #   ##############  Move up to the dock  ##############
    M400
    ROUNDED_G0 Y={tool.params_safe_toolhead_y} F={fast} D=20
    ROUNDED_G0 X={tool.params_dock_x_t1} F={fast} D=10
    ROUNDED_G0 Y={tool.params_safe_shuttle_y} F={fast} D=0   
    # Wait for temp before actually picking up the tool, while the nozzle is resting on it's pad.
    {% if tool.extruder %}
      M109 T{tool.tool_number} S{printer[tool.extruder].target|int}
    {% endif %}
    
    # Run the path
    G0 Y{tool.params_attach_y} F{careful}
    G4 P250
    G0 X{tool.params_dock_x_t1 - tool.params_dock_x_clearance} F{careful}

    VERIFY_TOOL_DETECTED T={tool.tool_number}
    
    # Restore the position with smooth rounded move.
    ROUNDED_G0 Y={tool.params_safe_y} F={fast} D=20
    {% if 'Z' in restore_position %}
      ROUNDED_G0 Z={restore_position.Z} F={fast} D=150
    {% endif %}
    {% if 'X' in restore_position %}
      ROUNDED_G0 X={restore_position.X} F={fast} D=1000
    {% endif %}
    {% if 'Y' in restore_position %}
      ROUNDED_G0 Y={restore_position.Y} F={fast} D=0
    {% endif %}
    ROUNDED_G0 D=0

# For InputShaper run per tool and enter the frequency here
# params_input_shaper_type_x: 'mzv'
# params_input_shaper_freq_x: 46.4
# params_input_shaper_damping_ratio_x: 0.098
# params_input_shaper_type_y: 'mzv'
# params_input_shaper_freq_y: 34.4
# params_input_shaper_damping_ratio_y: 0.088

[neopixel T1_leds]
pin: NHK_T1: gpio7
chain_count: 3
color_order: GRBW
initial_RED: 1.0
initial_GREEN: 0.0
initial_BLUE: 1.0
initial_WHITE: 0.0

[gcode_macro _T1_vars]
variable_logo_led_name:         "T1_leds"
variable_logo_idx:              "1"
variable_nozzle_led_name:       "T1_leds"
variable_nozzle_idx:            "2,3"
gcode:

#####################################################################
#   Toolhead 1 Filament runout switch
#####################################################################

[filament_switch_sensor switch_sensor_T1]
switch_pin: ^PG14
pause_on_runout: False
runout_gcode:
  PAUSE # [pause_resume] is required in printer.cfg
  RESPOND TYPE=echo MSG="Filament presence runout T1"
insert_gcode:
  RESPOND TYPE=echo MSG="Filament presence inserted T1"

[filament_motion_sensor encoder_sensor_T1]
switch_pin: ^PG15
detection_length: 7
extruder: extruder1
pause_on_runout: False
runout_gcode:
  PAUSE # [pause_resume] is required in printer.cfg
  RESPOND TYPE=echo MSG="Filament motion runout T1"
insert_gcode:
  RESPOND TYPE=echo MSG="Filament motion resumed T1"

[gcode_macro START_FILAMENT_SENSORS_T1]
gcode:
  SET_FILAMENT_SENSOR SENSOR="switch_sensor_T1" ENABLE=1
  SET_FILAMENT_SENSOR SENSOR="encoder_sensor_T1" ENABLE=1
  # RESPOND TYPE=echo MSG="T1 filament sensors started"

[gcode_macro START_FILAMENT_SENSORS_DELAYED_T1]
gcode:
  UPDATE_DELAYED_GCODE ID=_FILAMENT_SENSORS_DELAYED_T1 DURATION=5
  
[delayed_gcode _FILAMENT_SENSORS_DELAYED_T1]
initial_duration: 0.0
gcode:
  START_FILAMENT_SENSORS_T1